{% extends 'catalog/layouts/main.html' %}
{% block title %}
    Product Details
{% endblock title %}
{% block content %}
    <section class="bg-light py-4 my-5" style="min-height: 600px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="mb-3">{{ product_items}} Details</h4>
                    <hr style="border-color:#b8bfc2;">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index">Home</a></li>
                          <li class="breadcrumb-item"><a href="{% url 'shopview' product_items.category.name %}">Collections</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{{product_items}}</li>
                        </ol>
                      </nav>
                </div>
                <div class="col-4 my-3 pic-box">
                    {% if product_items.like %}
                    <div class="like" id="heart"><i class="fa fa-heart" style="align-items: end;color:red;"></i></div>
                    {% endif %}
                    <img class="contain9" src="{{product_items.product_image.url}}"  alt="{{product_items}}">
                </div>
                <div class="col-8 my-3">
                    <h5>{{product_items}}</h5>
                    <p>{{product_items.vendor_name}}</p>
                    <p>{{product_items.description}}</p>
                    <h6 class="my-2">Current Price:<s>{{product_items.original_price}}</s></h6>
                    <h5 class="my-2">Offer Price:{{product_items.discount_price}}</h5>
                    <h5 class="my-3">At Stock:{{product_items.quantity}}</h5>
                    <div class="my-3">
                        {% if product_items.quantity > 0 %}
                        <input type="hidden" value="{{product_item.id}}" id="pid">
                        {% csrf_token %}
                        <p>
                            <div class="input-group" style="width: 150px;">
                                <button class="input-group-text bg-success text-light" id="btnMinus"><i class="fa fa-minus"></i></button>
                                <input type="text" name="qty" id="txtqty" value="1" class="form-control text-center">
                                <button class="input-group-text bg-success text-light" id="btnPlus"><i class="fa fa-plus"></i></button>
                                <input type="hidden" name="stock" id="stockid" value="{{product_items.quantity}}">
                            </div>
                        </p>
                        <button class="btn btn-primary" id="btnCart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                        {% else %}
                        <button class="btn btn-secondary"><i class="fa fa-minue"></i>Out of Stock</button>
                        {% endif %}
                        <button class="btn btn-danger"><i class="fa fa-heart"></i></button><br><br>
                        
                        <button class="btn btn-info"><a href="{% url 'update' product_items.id %}">Update</a></button>
                        <button class="btn btn-danger"><a href="{% url 'delete' product_items.id %}">Delete</a></button>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMcontentLoaded',function(event){
            const btnPlus = document.getElementById('btnPlus');
            const btnMinus = document.getElementById('btnMinus');
            const txtqty = document.getElementById('txtqty')
            const like = document.getElementById('heart')
        
        });
        
            btnPlus.addEventListener("click",function() {
                let qty = parseInt(txtqty.value,10);
                qty = isNaN(qty)?0:qty;
                console.log(qty);
                if(qty<10){
                    qty++;
                    txtqty.value=qty;
                }
            });
    
            btnMinus.addEventListener("click",function() {
                let qty = parseInt(txtqty.value,10);
                qty = isNaN(qty)?0:qty;
                console.log(qty);
                if(qty>1){
                    qty--;
                    txtqty.value=qty;
                }
            });

    </script>

{% endblock content %}